{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
{% endblock %}


{% block title %}
Трекер навыков
{% endblock %}

{% block menu_link_myskills %}active{% endblock %}

{% block content %}
<main id="my-skills">
<div class="section-skills">
    <div class="container">
        <button class="btn-edit">Редактировать</button>
        <div class="list-s">
            <div class="list-skills">
                Список навыков
            </div>
            <div class="list-skills">
                Затраченное время
            </div>
            <div class="list-skills">
                Мини статистика
            </div>
        </div>
        <div class="input-skill">
            <input class="input-skill-name" id="input-skill" type="text" placeholder="Название навыка">
            <input class="input-skill-hour" id="input-hours" type="text" placeholder="Количество имеющихся часов">
            <button class="btn-add-skill" id="btn-add">Добавить навык</button>
        </div>
        <ul class="list-group" id="list">
        </ul>
    </div>
</div>
</main>
{% endblock %}

{% block skillsjs %}
<script src="static/js/script_skill_page.js"></script>
{% endblock %}